
.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  
  .tags {
    box-sizing: border-box;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .2) 0 6px 20px;
    border: 1px solid rgba(18, 18, 18, .1);
    padding: .8rem;
    margin: .6rem;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    float: left;
  }
  
  .sort {
    box-sizing: border-box;
      margin: .6rem;
      
      padding-left: 30%;
      
    
  }
  
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    border: 1px solid rgba(18, 18, 18, .2);
    padding: .4rem;
    margin: .6rem;
  }
  
  
  /* CSS */
  .button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: .4rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0.5rem;
  }
  
  .button-35:hover {
    box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
  }
  
  h4 {
    margin-top: .5rem;
  }
  
  .sortbutt {
      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .2) 0 6px 20px;
      box-sizing: border-box;
      color: #121212;
      cursor: pointer;
      display: inline-flex;
      flex: 1 1 auto;
      font-family: Inter,sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      justify-content: center;
      line-height: 1;
      outline: none;
      padding: .5rem 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      white-space: nowrap;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-top: 1.5rem;
      max-width: 300px;
      border: 1px solid rgba(18, 18, 18, .4);
      margin-left: 8px;
    }
  
  
    .tagbutt:focus {
      box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
    }
  
    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      padding-left: 5%;
      padding-right: 15%;
    }
  
    .gains {
      background-color: #39e060;
    }
  
    
  
    .footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1rem;
      margin: 1.2rem;
      border-radius: .5rem;
    }


    .sortbuttitem {
      align-items: center;
      background-color: #fff;
      color: #121212;
      cursor: pointer;
      font-family: Inter,sans-serif;
      font-weight: 600;
      justify-content: center;
      padding: .5rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      touch-action: manipulation;
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .2) 0 6px 20px;
      box-sizing: border-box;
      border: 1px solid rgba(18, 18, 18, .2);
    }